/* Inspired by https://dribbble.com/shots/1426764-Submit-Button?list=searches&tag=button&offset=43*/ 
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background-color: #FFF;
}
.center{

  margin-left: auto;
  margin-right: auto;
  display: table;
}

.submit p{
	margin-left: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.submit {
    /* placing */
    margin-top: 150px;
	text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 150px;
    background-color: #FFF;
    border: 2px solid #0093CF;
    border-radius: 50px;
    color: #0093CF;
    font-size: 16px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #FFF;
    color: #000;
    transition: 0.4s;
}

.success {
    /* placing */
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 150px;
    background-color: #0093CF;
    color: #000;
    border: 2px solid #0093CF;
    border-radius: 50px;
    font-size: 16px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.loader {
    /* placing */
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #eee;
    border-top: 4px solid #1ecd97;
    color: #FFF; /* Yes it's useless */
    outline-style: none;
    transform: rotate(360deg);
    transition: 0.6s;
}

i {
    font-size: 25px;
}